name: CD workflow

on:
  push:
    branches:
      - develop

env:
  NODE_VERSION: 22.0.0

jobs:
  unit_test:
    uses: ./.github/workflows/test-workflow.yml
  cd:
    uses: ./.github/workflows/image-publish-workflow.yml
    secrets:
      SHA: ${{ github.sha }}
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
      DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
