name: CD workflow

on:
  push:
    branches:
      - main

env:
  NODE_VERSION: 22.0.0

jobs:
  unit_test:
    runs-on: ubuntu-latest
    name: Checkout and Setup Node
    continue-on-error: true
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v3
        with:
          node-version: ${{env.NODE_VERSION}}
      - run: npm run test
  cd:
    runs-on: ubuntu-latest
    name: Build and Publish Docker
    steps:
      - uses: actions/checkout@v5
      - run: docker build . -t ${{ secrets.DOCKER_HUB_USERNAME }}/cicd-learning:${{github.sha}}
      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/cicd-learning:${{github.sha}}
